/* global styling */
* {
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
    background-color: darkslategray;
}
/* styles the title of the website */
h1 {
    color: white;
    background-color: black;
    font-size: 2rem;
    width: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
}
/* Sets the top coloring and flexbox structure for heading/nav */
header {
    background-color: slategrey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 5px solid black;
}
/* navigation fonts and sizing */
.nav {
    color: white;
    margin: 5px;
    background-color: darkslategray;
    padding: 15px;
    border: 5px solid black;
}
/* section heading atttributes */
h2 {
    color:white;
    background-color: black;
    font-size: 1.5rem;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin-right: auto;
}
/* Profile picture */
.about-me img {
    border:5px solid black;
    width: 200px;
    height: 277px;
    float: left;
    vertical-align: auto;
}
/* gives flexbox and spacing to about me section */
.about-me {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.about-me p {
    background-color: white;
    margin: 0;
    border: 5px solid black;
    position: relative;

}
/* first project is displayed larger than the others */
.bigbox {
    max-width: 80%;
    margin: auto;
    border: 5px solid black;
    border-radius: 5px;
    background-color: black;
    font-size: 2rem;
}

.bigbox img {
    max-width: 100%;
    height: auto;
}
/* sets the style for flexbox headings */
h3 {
    color: white;
    background-color: black;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    border-radius: 5px;
}

.previous-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* small box sizing */
.smallbox {
    width: 45%;
    height: auto;
}

.smallbox-column {
    min-width: 45%;
}


.smallbox-column a img {
    width: 100%;
    height: auto;
    background-color: black;
    border: 5px solid black;
}
/* Contact me styling and placement */
.contact-me {
    display: inline-flex;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 30px;
}

.contact-me a {
    color:white;
    background: black;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

/* media query for phone sized device */
@media screen and (min-width:576px) {
    h1 {
        font-size: 1.5rem;
    }
    .nav {
        font-size: .75rem;
        padding: 2px;
    }
  }
 /* media query for medium sized screens */
@media screen and (min-width: 768px) {
    .smallbox-column {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .nav {
        display:flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }
  }
  
  /* media query for larger screens */
@media screen and (min-width: 992px) {
    .previous-work {
        display:flex;
        align-items: center;
        margin-top: 30px;
    }
  }
